<div class="w-fit h fit mt-5">
  <div
    class="flex flex-row gap-2 bg-black/30 backdrop-blur-xl border border-white/20 rounded-2xl p-1.5 shadow-xl"
  >
    <!-- @for (item of tabList(); track $index) { -->

      @for (item of numberPages(); track $index) {
        <button
          [class.bg-amber-200]="item === page()! || (page()==0 && item === 1)"
          (click)="changePage(item)"
          class="flex items-center justify-center px-4 py-3 gap-2 rounded-xl transition-all duration-300 text-slate-400 hover:text-white hover:bg-amber-200/50"
        >
          {{item}}
        </button>
      }@empty {
        <span class="text-white text-center px-4 py-3">No hay casos</span>
      }
  </div>
</div>
