<div class="p-8">
  <app-search-input placeHolder="Buscar por nombre"/>
  <div
    class="bg-black/20 backdrop-blur-sm rounded-2xl border border-white/10 overflow-hidden"
  >
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="border-b border-white/10">
            <th class="text-left p-4 text-gray-300 font-medium min-w-20 max-w-20">
              Fecha y Hora
            </th>
            <th class="text-left p-4 text-gray-300 font-medium min-w-20 max-w-20">Nombre</th>
            <th class="text-left p-4 text-gray-300 font-medium min-w-20 max-w-20">Tipo</th>
            <th class="text-left p-4 text-gray-300 font-medium min-w-20 max-w-20">Acción</th>
          </tr>
        </thead>
        <tbody>
          @if(isLoading()){
            <app-skeleton-access-record/>
          }@else {
            @for (record of records(); track $index) {
            <tr class="border-b border-white/10 hover:bg-white/5">
              <td class="p-4 text-white font-mono">{{ record.occuredAt | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td class="p-4 font-medium text-white">{{ record.fullName }}</td>
              <td class="p-4">
                <span
                  [class]="
                    'inline-flex items-center px-3 py-1 rounded-full text-sm font-medium border ' +
                    getTypeBadgeClass(record.role)
                  "
                >
                  {{ getTypeText(record.role) }}
                </span>
              </td>
              <td class="p-4">
                <span
                  [class]="
                    'inline-flex items-center px-3 py-1 rounded-full text-sm font-medium border ' +
                    getActionBadgeClass(record.checkAction)
                  "
                >
                  <svg
                    class="h-3 w-3 mr-1"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 10V3L4 14h7v7l9-11h-7z"
                    ></path>
                  </svg>
                  {{ getActionText(record.checkAction) }}
                </span>
              </td>
            </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
  <app-pagination/>
</div>
