<div class="space-y-8">
  <!-- Perfil del Usuario -->
  <div
    class="bg-gradient-to-br from-slate-900/60 to-gray-900/60 border border-slate-400/30 backdrop-blur-xl shadow-2xl rounded-2xl"
  >
    <div class="p-8 border-b border-white/10">
      <div class="flex items-center space-x-4">
        <div
          class="w-12 h-12 p-2 bg-gradient-to-br from-slate-500 to-gray-600 rounded-2xl flex items-center justify-center shadow-xl shadow-slate-500/25"
        >
          <img src="./assets/images/perfil.svg" alt="">
        </div>
        <div>
          <h2 class="text-3xl font-bold text-white">Mi Perfil Empresarial</h2>
          <p class="text-slate-300 text-lg">
            Información personal y acceso corporativo
          </p>
        </div>
      </div>
    </div>
    <!-- Información del usuario -->
    <app-user-information [user]="userResource.value()!" />
  </div>

  <!-- Check-In Manual -->
  <app-user-checkinout [isCheckIn]="isCheckIn()" [idUser]="userResource.value()!.id" (onCheckin)="onCheckin($event)"/>

  <!-- Logout Section -->
  <app-login-logut [user]="userResource.value()!" />
</div>
