<tr class="border-b border-white/10">
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-24 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-32 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-6 w-20 bg-white/20 rounded-full animate-pulse"></div>
  </td>
  <td class="p-4">
    <div
      class="h-6 w-28 bg-white/20 rounded-full animate-pulse flex items-center"
    ></div>
  </td>
</tr>
<tr class="border-b border-white/10">
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-24 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-32 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-6 w-20 bg-white/20 rounded-full animate-pulse"></div>
  </td>
  <td class="p-4">
    <div
      class="h-6 w-28 bg-white/20 rounded-full animate-pulse flex items-center"
    ></div>
  </td>
</tr>
<tr class="border-b border-white/10">
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-24 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-32 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-6 w-20 bg-white/20 rounded-full animate-pulse"></div>
  </td>
  <td class="p-4">
    <div
      class="h-6 w-28 bg-white/20 rounded-full animate-pulse flex items-center"
    ></div>
  </td>
</tr>
<tr class="border-b border-white/10">
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-24 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-32 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-6 w-20 bg-white/20 rounded-full animate-pulse"></div>
  </td>
  <td class="p-4">
    <div
      class="h-6 w-28 bg-white/20 rounded-full animate-pulse flex items-center"
    ></div>
  </td>
</tr>
<tr class="border-b border-white/10">
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-24 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-4 bg-white/20 rounded w-32 animate-pulse"></div>
  </td>
  <td class="p-4">
    <div class="h-6 w-20 bg-white/20 rounded-full animate-pulse"></div>
  </td>
  <td class="p-4">
    <div
      class="h-6 w-28 bg-white/20 rounded-full animate-pulse flex items-center"
    ></div>
  </td>
</tr>
